.post-nav {
  display: flex;
}
.post-nav div {
  /* flex-grow, flex-shrink, flex-basis */
  flex: 1 1 0;
}
.post-nav-next {
  text-align: right;
}

ul.blog {
  list-style: none;
}

ul.blog li {
  margin-bottom: 4em;
}

ul.blog li div.header h4 {
  margin-bottom: 0em;
}
