.post-nav {
  display: flex;
}
.post-nav div {
  /* flex-grow, flex-shrink, flex-basis */
  flex: 1 1 0;
}
.post-nav-next {
  text-align: right;
}

ol.blog {
  padding: 0;
  margin; 0;
  /*  remove bullet */
  > li {
    &::before {
      display: none;
    }

    padding: 0;
    margin; 0;

    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 4em;

    > h4 {
      margin-top: 0;
      margin-bottom: 0;
    }

    > h3 {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
