.post-nav {
  display: flex;
  align-items: center;
}
.post-nav div {
  /* flex-grow, flex-shrink, flex-basis */
  flex: 1 1 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-nav-prev {
  text-align: left;
  margin-right: 20px
}
.post-nav-next {
  text-align: right;
  margin-left: 20px
}

ol.blog {
  padding: 0;
  margin: 0;
}

ol.blog > li {
  /*  remove bullet */
  &::before {
    display: none;
  }

  padding: 0;
  margin: 0;

  margin-left: 0;
  margin-top: 2em;
  margin-bottom: 4em;

  > h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  > h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.blog-post .image-container {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

figcaption {
  color: $grey-dk-000;
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}