{% if page.image %}
<figure>
  <div class="image-container">
    <img src="{{ include.image.url }}" style="max-width: {{ include.max-width }};" alt="{{ include.image.alt }}"/>
  </div>
  {% if include.image.license or include.image.attribution %}
  <figcaption>
    Image: 
    {% if include.image.license %}
      {% if include.image.license. %}
        {% if include.image.license.url %}
          <a href="{{ include.image.license.url }}">{{ include.image.license.description }}</a>,
        {% else %}
          {{ include.image.license.description }},
        {% endif %}
      {% endif %}
    {% endif %}
    {{ include.image.attribution }}
  </figcaption>
  {% endif %}
</figure>
{% endif %}