---
layout: default
---

<div class="blog-post">
  {% include image.html image=page.image image_attribution=page.image_attribution
        image_license=page.image_license %}
  <h4>Posted on {{ page.date | date_to_string }}</h4>
  <h1>{{ page.title }}</h1>

  {{ content }}
</div>

<hr>

<div class="post-nav">
  <div>
    {% if page.previous.url %}
    <a href="{{page.previous.url}}">&larr;&nbsp;<span>{{page.previous.title}}</span></a>
    {% endif %}
  </div>
  <div class="post-nav-next">
    {% if page.next.url %}
    <a href="{{page.next.url}}"><span>{{page.next.title}}</span>&nbsp;&rarr;</a>
    {% endif %}
  </div>
</div>
